apiVersion: v1
kind: Service
metadata:
  name: candlestick-mysql-service
  labels:
    name: candlestick-mysql-service
    app: candlestick-mysql-app
  namespace: _{_NAMESPACE_}_
spec:
  type: LoadBalancer
  ports:
    - port: 3306
      targetPort: 3306
      nodePort: 30008
      protocol: TCP
  selector:
    name: candlestick-mysql-app-pod
    app: candlestick-mysql-app